<div class="static">
<ul>
	<% @questions.each do |question| %>
		<li><h3 class="inline"><a href="/questions/<%=question.id%>"><%= question.text %></a></h3>
		<p class="inline"><a href="/questions/<%=question.id%>/edit">Edit</a></p><br>
		<% if question.answers %>
			<h4>Answers:</h4>
				<% question.answers.each do |answer| %>
				<p>
				<li><%= answer.text %></p></li>
			<% end %>
		<% end %><hr> 
	<% end %>
	</li></p>
</ul>
<%= will_paginate @questions %>
</div>

<div id="login_modal" style="display: none;">
	<%if @message  %>
		<%= @message %>
	<% end %>
	<h1>Login</h1>
	<form method="post" action="/sessions" >
		Email:
			<input type="text" name="session[email]" placeholder="preethika@gmail.com"><br>
		Password:
			<input type="password" name="session[password]" placeholder="Password"><br>
		<input type="submit" value="Login" class="submit">
	</form>
	<h1>Signup</h1>
	<form  action="/signup" method="post">
		<input type="text" name="session[name]" placeholder="name"><br>
		<input type="text" name="session[email]" placeholder="preethika@gmail.com"><br>
		<input type="password" name="session[password]" placeholder="Password"><br>
		<input type="password" name="session[password_confirmation]" placeholder="Password confirmation"><br>		
		<input type="submit" value="Signup" class="submit">
	</form>
</div>

